.postContainer{
    border: 10px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(255, 212, 219);
}